{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "SqlConnection": "Server=localhost; Database=CodeJournal; User Id=user; Password=password; TrustServerCertificate=True;",
    "Server": "localhost",
    "Database": "CodeJournal"
  }
}